---
---
@import "{{ site.remote_theme }}";

body {
    background-color: #0d1117; /* Deep space black/blue */
    background-image: url('https://www.transparenttextures.com/patterns/stardust.png'); /* Subtle star pattern */
}

.side-bar {
    background-color: #161b22;
}
